[submodule "api_modules/userman"]
	path = api_modules/userman
	url = https://github.com/modularni-urad/userman-api
[submodule "api_modules/taskman"]
	path = api_modules/taskman
	url = https://github.com/modularni-urad/taskman
